@import url('./font.css');
@import url('./link.css');
@import url('./color.css');

.rkaneko-theme {
  background: #F5F5DC;
  background-size: cover;
  color: #003366;
}

.rkaneko-theme .important {
  color: #B22222;
}

.rkaneko-theme table {
  border-color: #00284d;
  border-style: solid;
  border-width: 2px;
  margin: 16px;
}

.rkaneko-theme thead {
  background-color: #00284d;
  color: #fff;
}

.rkaneko-theme tbody {
  background-color: #eeeeee;
}

.title-page {
  background: #00284d;
  color: #fff;
  text-align: center;
  vertical-align: middle;
}

.title-page .important {
  color: #FFD700;
}

.paragraph-page {
  background: #00284d;
  color: #fff;
  text-align: center;
  vertical-align: middle;
}

.paragraph-picture-page {
  padding: 0;
}

.paragraph-picture-page figure {
  color: #000;
  padding: 0 !important;
  margin: 0 !important;
  position: relative;
}

.paragraph-picture-page img {
  padding: 0;
  width: 100%;
  background-attachment: fixed;
  background-color: #000;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.paragraph-picture-page__block {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.paragraph-picture-page__caption {
  /* background-color: rgba(0, 0, 0, 0.6); */
  bottom: 1em;
  color: #fff;
  font-size: 60px;
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

.remark-code {
  border-radius: 5px;
}

.footnote {
  position: absolute;
  bottom: 3em;
  right: 3em;
}

.head-github-name {
  position: absolute;
  bottom: 3em;
  right: 3em;
}

.head-github-name__icon {
}

.head-github-name__text {
  padding: 0 28px;
}

.head-my-name {
  position: absolute;
  bottom: 5em;
  right: 3em;
}

.head-my-name__icon {
}

.head-my-name__icon img {
  width: 32px;
}

.head-my-name__text {
  padding-left: 6px;
}
